@{
    ViewData["Title"] = "Secured Page";
}



<div class="row mb25">
    <div class="col-md-12">
        <div class="box-tab">
            <ul class="nav nav-tabs">
                <li class="active">
                    <a href="#demo-render" data-toggle="tab">Secured Content</a>
                </li>
                <li>
                    <a href="#demo-code" data-toggle="tab">Cookie Auth Setup</a>
                </li>
            </ul>
            <div class="tab-content ">
                <div class="tab-pane fade active in" id="demo-render">


                    <div class="col-md-offset-4 col-md-4">
                        <h4 class="text-danger text-center">Authorized Peronel Only</h4>
                        <section class="panel no-b">
                            <div class="panel-body">
                                <a href="#" class="show text-center">
                                    <img src="~/images/man.jpg" class="avatar avatar-lg img-circle" alt="">
                                </a>

                                <div class="show text-center">
                                    <div class="h5">
                                        <b>@User.Identity.Name</b>
                                    </div>
                                    <p class="show text-muted">Antigua, W.I.</p>
                                </div>

                            </div>
                            <div class="panel-footer no-p no-b">
                                <div class="row">
                                    <div class="col-md-4  col-xs-4 bg-primary p10 text-center brbl">

                                        <i class="fa fa-github"></i>
                                        <span class=" show "></span> 782

                                    </div>
                                    <div class="col-md-4 col-xs-4 bg-primary p10 text-center">

                                        <i class="fa fa-github"></i>
                                        <span class=" show "></span> 8,234

                                    </div>
                                    <div class="col-md-4 col-xs-4 bg-primary p10 text-center brbr">

                                        <i class="fa fa-twitter"></i>
                                        <span class=" show "></span> 290,847

                                    </div>
                                </div>
                            </div>
                        </section>

                        <a asp-controller="Secured" asp-action="Logoff" class="demo-button btn btn-default">Sign Out</a>
                    </div>


                </div>
                <div class="tab-pane fade" id="demo-code">
                    <pre><code class="cs">
public void Configure(IApplicationBuilder app)
{
   app.UseCookieAuthentication(options =>
   {
       options.LoginPath = "/secured/login";
       options.AuthenticationScheme = "Cookies";
       options.CookieName = "cotb.demo";
       options.CookieHttpOnly = true;
       options.CookieSecure = CookieSecureOption.SameAsRequest;
       options.AutomaticAuthenticate = true;
       options.AutomaticChallenge = true;
   });
}
                                  </code></pre>
                </div>
            </div>
        </div>
    </div>
</div>
