<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Demos</title>

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/styles/font-awesome.css">
    <link rel="stylesheet" href="~/styles/sublime.css">
    <link rel="stylesheet" href="~/styles/vs.css">

    <script src="~/vendor/modernizr.js"></script>
</head>
<body>
    <div class="app">
        <section class="layout">
            <!-- sidebar menu -->
            <aside class="sidebar">
                <!-- main navigation -->
                <nav class="main-navigation">
                    <h5 class="nav-title">DEMO MENU</h5>
                    <ul class="nav">
                        <li>
                            <a asp-controller="Home" asp-action="Index">
                                <i class="fa fa-desktop text-info"></i>
                                <span>Dashboard</span>
                            </a>
                        </li>
                        <li>
                            <a asp-controller="Home" asp-action="DependencyInjection">
                                <i class="fa fa-desktop text-info"></i>
                                <span>Dependecy Injection</span>
                            </a>
                        </li>
                        <li>
                            <a asp-controller="Home" asp-action="Config">
                                <i class="fa fa-desktop text-info"></i>
                                <span>Configuration</span>
                            </a>
                        </li>
                        <li>
                            <a asp-controller="Home" asp-action="Middleware">
                                <i class="fa fa-desktop text-info"></i>
                                <span>Middleware</span>
                            </a>
                        </li>
                        <li>
                            <a href="#" target="_blank">
                                <i class="fa fa-desktop text-info"></i>
                                <span>HttpContext</span>
                            </a>
                        </li>
                        <li>
                            <a asp-controller="Secured" asp-action="Index">
                                <i class="fa fa-desktop text-info"></i>
                                <span>Claims Identity</span>
                            </a>
                        </li>

                        <li>
                            <a asp-controller="Home" asp-action="TagHelpers">
                                <i class="fa fa-desktop text-info"></i>
                                <span>Tag Helpers</span>
                            </a>
                        </li>
                        <li>
                            <a asp-controller="Home" asp-action="ViewComponents">
                                <i class="fa fa-desktop text-info"></i>
                                <span>View Components</span>
                            </a>
                        </li>
                        <li>
                            <a href="#" target="_blank">
                                <i class="fa fa-desktop text-info"></i>
                                <span>Web API / SPA</span>
                            </a>
                        </li>
                    </ul>

                </nav>
            </aside>
            <!-- /sidebar menu -->
            <!-- main content -->
            <section class="main-content">
                <!-- content wrapper -->
                <div class="content-wrap">
                    <div class="wrapper">

                        @RenderBody()

                    </div>
                </div>
                <!-- /content wrapper -->
            </section>
            <!-- /main content -->
        </section>
    </div>
   
    <script type="text/javascript" src="~/lib/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="~/vendor/highlight.pack.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>

    @RenderSection("scripts", required: false)
</body>
</html>
