@using System.Collections.Generic
@using System.Threading.Tasks

@model IEnumerable<Demos.Data.ConferenceSession>

@{
    ViewData["Title"] = "Dependency Injection";
}

<div class="row mb25">
    <div class="col-md-12">
        <div class="box-tab">
            <ul class="nav nav-tabs">
                <li class="active">
                    <a href="#demo-render" data-toggle="tab">Sample</a>
                </li>
                <li>
                    <a href="#demo-code" data-toggle="tab">Configure Services</a>
                </li>
            </ul>
            <div class="tab-content ">
                <div class="tab-pane fade active in" id="demo-render">
                    <h4>Conference List</h4>
                    <br/>
                    <div class="row">
                        @foreach (var session in @Model)
                        {

                            <div class="col-sm-6 col-md-4">
                                <section class="widget bg-primary">
                                    <div class="widget-body">
                                        <a href="javascript:;" class="pull-left mr15">
                                            <img src="~/images/man.jpg" class="avatar avatar-md img-circle" alt="">
                                        </a>

                                        <div class="overflow-hidden">
                                            
                                               
                                                <span class="">@session.Presenter</span>
                                            
                                            <span class="show">@session.Name</span>
                                            <span class="show">@session.Room</span>
                                        </div>
                                    </div>
                                </section>
                            </div>



                        }
                    </div>
                </div>
                <div class="tab-pane fade" id="demo-code">
                    <pre><code class="cs">
public class Startup
{ 
     public void ConfigureServices(IServiceCollection services)
     {
         services.AddTransient&lt;IConferenceSessionService, InMemorySessionService&gt;();
         services.AddScoped &lt;IConferenceSessionService, InMemorySessionService&gt;();
         services.AddInstance&lt;IConferenceSessionService&gt;(new InMemorySessionService());
     }
}
                                  </code></pre>
                </div>
            </div>
        </div>
    </div>
</div>
