@{
    ViewData["Title"] = "Home Page";
}



<div class="row mb25">
    <div class="col-md-12">
        <div class="box-tab">
            <ul class="nav nav-tabs">
               
                <li class="active">
                    <a href="#demo-code" data-toggle="tab">Startup.cs</a>
                </li>
            </ul>
            <div class="tab-content ">
               
                <div class="tab-pane fade active in" id="demo-code">
                    <pre><code class="cs">
  public class Startup
  {  
        public void Configure(IApplicationBuilder app, ILoggerFactory loggerFactory)
        {
            loggerFactory.MinimumLevel = LogLevel.Information;
            loggerFactory.AddConsole();
            
            app.UseStaticFiles();
            
            app.UseMvc(routes =>
            {
                routes.MapRoute(
                    name: "default",
                    template: "{controller=Home}/{action=Index}");
            });
        }
   }                               </code></pre>
                </div>
            </div>
        </div>
    </div>
</div>
