@{
    ViewData["Title"] = "Configuration";
}

<div class="row mb25">
    <div class="col-md-12">
        <div class="box-tab">
            <ul class="nav nav-tabs">
                <li class="active">
                    <a href="#demo-render" data-toggle="tab">Middleware Diagram</a>
                </li>
                <li>
                    <a href="#demo-code" data-toggle="tab">Barebones Middleware</a>
                </li>
            </ul>
            <div class="tab-content ">
                <div class="tab-pane fade active in" id="demo-render">

                    <div class="col-md-offset-2 col-md-8">
                        <h2 class="text-center">Pipeline</h2>
                        <hr/>
                        <br />
                        <img src="~/images/middleare.png" />
                    </div>
                </div>
                <div class="tab-pane fade" id="demo-code">
                    <pre><code class="cs">
  public class MyMiddleware
  {
      private readonly RequestDelegate _next;
      public MyMiddleware(RequestDelegate next)
      {
          _next = next;
          _options = options;
      }
      public Task Invoke(HttpContext context)
      {
         //Do something with the requestion and response
          return _next(context);
      }
  }
 
  public class Startup
  {                                              
      public void Configure(IApplicationBuilder app)
      {
         app.UseMiddleware&lt;MyMiddleware&gt;();
      } 
   }                                                      </code></pre>
                </div>
            </div>
        </div>
    </div>
</div>
