@model Demos.Config.CustomConfigOptions

@{
    ViewData["Title"] = "Configuration";
}

<div class="row mb25" >
    <div class="col-md-12">
        <div class="box-tab">
            <ul class="nav nav-tabs">
                <li class="active">
                    <a href="#demo-render" data-toggle="tab">Sample</a>
                </li>
                <li>
                    <a href="#demo-code" data-toggle="tab">Code</a>
                </li>
            </ul>
            <div class="tab-content ">
                <div class="tab-pane fade active in" id="demo-render" aurelia-app="scripts/main">
                   
                </div>
                <div class="tab-pane fade" id="demo-code">
                    <pre><code class="cs">
    [Route("api/[controller]")]
    public class SessionsController : Controller
    {
        private readonly IConferenceSessionService _service;
        public SessionsController(IConferenceSessionService service)
        {
            _service = service;
        }

        [HttpGet("list")]
        public IActionResult RetrieveSessions()
        {
            return new ObjectResult(_service.GetSessions())
            {
                StatusCode = (int) HttpStatusCode.OK
            };
        }

        [HttpPost("create")]
        public IActionResult CreateSession([FromBody]ConferenceSession session)
        {
            _service.AddSession(session);
            return new HttpStatusCodeResult((int) HttpStatusCode.Created);
        }
    }
                                                         </code></pre>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts
{
    <script src="~/jspm_packages/system.js"></script>
    <script src="~/config.js"></script>

    <script type="text/javascript">
        System.import("aurelia-bootstrapper");
    </script>
}
